body {
    background-color:lavender;
}

h1 {
    text-align: center;
    background-color: aqua;
   
}

.sign {
    text-align:right;
    

}

div {
    background-image: url(Classroom.jpg);
    width: 1280px;
    height: 720px;
    background-size:cover;


}