body {
    background-color: lavenderblush;
    background: position x 30px;
    overflow-x:hidden;
    font-family: Arial, Helvetica, sans-serif   ;
}

.logo{
    display: inline-flex;
    width: 100%;
    padding-left: 5%;
}

.sign-in{
    text-align: right;
    margin-left:70%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 60%;
}

.p {
    text-align: left;
    font-family: Tahoma;
    font-size: 30px;   
    background-color:lavenderblush;
    margin-left: -20px;
    margin-top: -10px;
    margin-right: -7px;
    word-spacing: 20px;
    margin-bottom: -9.5px;
      
}


.test{
    font-size: 50px;
}

.demo {
    width: 200px;
    height: 100px;
    font-size: 30px;
    border-radius: 20px;
    border-style:ridge;

}

.hr {
    margin-left: -40px;
    margin-right: -40px;
    border-width: 1px ;
    margin-top: auto;
    border: white; 

}

.one {
    margin-left: -40px;
    margin-right: -40px;

}

.vision{
    font-size: 60px;
    margin-left: 15px;
}

.header{
    position: sticky;
    top: 0% ;

}

a {
    text-decoration: none;
}


.d {
    text-align: center;
    font-family: Tahoma;
    font-size: 30px;
    background-color: lavenderblush;
    margin-left: -20px;
    margin-top: -30px;
    margin-right: -7px;
    word-spacing: 40px;
    padding-bottom: 2px;
    
    
}
.d menu ol ls:nth-child(1)::after{
    content: '';
    width: 10%;
    height: 2px;
    left: 440px;
    transform: scaleX(0);
    transition: all ease 0.5s;
    bottom: 20px;
    background: black;
    position: absolute;
    transform-origin: bottom right;


}
.d menu ol ls:nth-child(2)::after{
    content: '';
    width: 10%;
    height: 2px;
    left: 590px;
    transform: scaleX(0);
    transition: all ease 0.5s;
    bottom: 20px;
    background: black;
    position: absolute;
    transform-origin: bottom right;


}
.d menu ol ls:nth-child(3)::after{
    content: '';
    width: 10%;
    height: 2px;
    left: 750px;
    transform: scaleX(0);
    transition: all ease 0.5s;
    bottom: 20px;
    background: black;
    position: absolute;
    transform-origin: bottom right;


}

.d menu ol ls:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

.ready-made {
    font-size: 20px;
    margin-left: 20px;
    margin-top: -250px;
    
}

.Index {
    width: 500px;
    height: 300px;
    margin-left: 55%;
    margin-top: -50px;
    border-radius:2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Index2 {
    width: 500px;
    height: 300px;
    margin-left: 30px;
    border-radius: 14px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    

}

.Second-section {
    background-color: white;
    margin-left: -10px;
    margin-right: -14px;
    padding-top: 10%;
}

.Third-section {
    margin-top: 20%;
}
.create-courses {
    text-align: right;
    font-size: 20px;
    margin-right: 10px;
    margin-top: -200px;
    margin-right: 5%;
}
 
.fourth-section {

    padding-top: 10%;
    margin-left: 3%;
    padding-bottom: 25%;
}

.work-courses {
    margin-top: -250px;
    font-size: 20px;

}

.Index3 {
    width: 500px;
    height: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 14px;
    margin-left: 55%;

}
.bottom-signin {
    text-align: center;
    background-color: blue;
    margin-top: 40px;
}

.submit {
    margin-left: 110px;
    width: 300px;
    height: 50px;
    border-radius: 12px;
    border: none;
    text-align: center;
  }

.sign {
    text-align:right;
}

.w {
    background-image: url(Classroom.jpg);
    background-size: cover;
    width: 1264px;
    height: 720px;
    margin-left: -8px;
    margin-top: -47px;
    
}

.q {
    font-size: 50px;
    text-align: center;
    padding-top: 50px;

}
/* Style all font awesome icons */
.fa {
    padding: 10px;
    margin-right: 10px;
    font-size: 30px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 100%;
  }

.thr {
    border: 1px solid black;
    margin-left: -14px;
    margin-right: -14px;
}

  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  /* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
  }
.fa-instagram {
    background: #f09433; 
background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    color: white;
}

.foot{
    display: inline-flex;
}
.footer-nav{
    display:inline-flex;
    text-align: center;
}